# KERRY MATRIX
- author: Richard Castro 
- toc: true 
- badges: true
- comments: true
- categories: [Matrix]
- image: images/kerry.png

In [11]:
#collapse
#IMPORTING LIBRARIES AND DATA FILES
import pandas as pd
mat=pd.read_csv('../us_m.csv')
kerry=pd.read_csv('../kerry.csv')
rt = pd.read_csv('https://d14wlfuexuxgcm.cloudfront.net/covid/rt.csv')
da = pd.read_csv('https://covidtracking.com/api/v1/states/daily.csv')

In [12]:
#collapse
#FORMATING DATA FROM LAST WEEKS MATRIX TO MOVE WEEKLY DATA OVER
mat.columns = map(str.lower, mat.columns)
col=['state','social index current','rt current','test increase current','tpr current',
     'weekly deaths current','total deaths current','total tests current']
newCol=mat[col]
newerCol=newCol.rename(columns={'social index current':'social index past' ,'rt current':'rt past' ,'test increase current':'test increase past',
       'tpr current':'tpr past', 'weekly deaths current':'weekly deaths past', 'total deaths current':'total deaths past',
       'total tests current':'total tests past'})
kerry.columns=map(str.lower, kerry.columns)

In [13]:
#collapse
#CLEANING THE RTLIVE DATA
today='2020-08-03'
rtCleaned = rt[rt['date']==today]
rtColumns = ['date', 'region', 'mean']
rtCleaned = rtCleaned[rtColumns]
rtCleaned = rtCleaned.rename(columns = {'region':'state'})
rtCleaned = rtCleaned.sort_values('state', ascending=True)

In [14]:
#collapse
#CLEANING THE DAILY COVID DATA
dateRange='20200803'
dailyColumns = ['date', 'state', 'death', 'positiveIncrease', 'totalTestResultsIncrease', 'deathIncrease']
dailyData = da[dailyColumns]
dailyData = dailyData.sort_values('state', ascending=True)
dailyCleaned = dailyData[dailyData['date'].astype(str)==dateRange]

In [15]:
#collapse
#MERGING THE DATASETS TOGETHER
mergef=pd.merge(kerry, rtCleaned,  on='state')
merget=pd.merge(mergef, dailyCleaned, on='state')
merger=pd.merge(merget, newerCol, on='state')

In [16]:
#SHOW THE LOCATIONS FOR CLIENT
kerry

   state  population
0     AL     4903185
1     AR     3017804
2     CA    39512223
3     FL    21477737
4     GA    10617423
5     IA     3155070
6     IL    12671821
7     IN     6732219
8     KS     2913314
9     MD     6045680
10    ME     1344212
11    MN     5639632
12    MO     6137428
13    MS     2976149
14    NJ     8882190
15    NY    19453561
16    OH    11689100
17    TN     6829174
18    TX    28995881
19    VA     8535519
20    WA     7614893
21    WI     5822434

In [17]:
#SHOW CLIP OF THE RT DATA
rtCleaned.head(3)

            date state      mean
8000  2020-08-03    AK  1.045968
3675  2020-08-03    AL  1.037615
4948  2020-08-03    AR  1.032516

In [18]:
#SHOW CLIP OF THE DAILY DATA
dailyCleaned.head(3)

,date,state,death,positiveIncrease,totalTestResultsIncrease,deathIncrease
112,20200803,AK,25.0,80,2717,1
113,20200803,AL,1633.0,1217,7981,6
114,20200803,AR,475.0,1424,12819,17

In [19]:
#SHOW CLIP OF THE PAST DATA
newerCol.head(3)

,state,social index past,rt past,test increase past,tpr past,weekly deaths past,total deaths past,total tests past
0,AL,22,1.111944,11546,21%,142,1633,56092
1,AR,76,1.037065,5150,12%,67,475,42509
2,CA,22,0.970088,54351,6%,943,9388,888118

In [20]:
#SHOW THE MERGED DATA
merger

,state,population,date_x,mean,date_y,death,positiveIncrease,totalTestResultsIncrease,deathIncrease,social index past,rt past,test increase past,tpr past,weekly deaths past,total deaths past,total tests past
0,AL,4903185,2020-08-03,1.037615,20200803,1633.0,1217,7981,6,22,1.111944,11546,21%,142,1633,56092
1,AR,3017804,2020-08-03,1.032516,20200803,475.0,1424,12819,17,76,1.037065,5150,12%,67,475,42509
2,CA,39512223,2020-08-03,0.887432,20200803,9388.0,5739,148721,32,22,0.970088,54351,6%,943,9388,888118
3,FL,21477737,2020-08-03,0.965805,20200803,7279.0,4752,31801,73,85,0.986019,59137,18%,1230,7279,321301
4,GA,10617423,2020-08-03,0.953591,20200803,3842.0,2258,21761,2,22,0.953783,24592,13%,333,3842,193438
5,IA,3155070,2020-08-03,0.986369,20200803,882.0,349,2357,6,16,1.010162,3287,10%,49,882,31630
6,IL,12671821,2020-08-03,1.079520,20200803,7723.0,1298,28475,9,44,1.092876,10625,4%,115,7723,264702
7,IN,6732219,2020-08-03,1.005326,20200803,2980.0,576,6439,5,54,1.001587,5526,8%,74,2980,67691
8,KS,2913314,2020-08-03,1.062584,20200803,365.0,1064,9332,7,46,1.071201,2704,12%,30,365,22903
9,MD,6045680,2020-08-03,1.031896,20200803,3523.0,870,15851,8,45,1.047616,6268,6%,76,3523,105119
10,ME,1344212,2020-08-03,0.935590,20200803,124.0,12,2071,1,45,0.975832,138,1%,5,124,16704
11,MN,5639632,2020-08-03,1.103790,20200803,1656.0,613,13663,2,45,1.074376,4757,-5%,40,1656,-98722
12,MO,6137428,2020-08-03,1.166522,20200803,1255.0,1047,10481,2,1,1.220294,9837,14%,54,1255,71044
13,MS,2976149,2020-08-03,1.071332,20200803,1711.0,572,572,8,13,1.061724,8168,23%,210,1711,35120
14,NJ,8882190,2020-08-03,0.975566,20200803,15846.0,264,18702,10,15,0.965851,2802,2%,42,15846,180739
15,NY,19453561,2020-08-03,0.963728,20200803,25172.0,545,51839,2,52,0.941746,4499,1%,55,25172,455625
16,OH,11689100,2020-08-03,0.941189,20200803,3539.0,932,17997,10,64,0.918456,8786,5%,195,3539,191445
17,TN,6829174,2020-08-03,0.986842,20200803,1092.0,1009,12235,19,15,0.980140,14147,9%,114,1092,163081
18,TX,28995881,2020-08-03,0.957834,20200803,7016.0,11529,86807,179,35,0.933380,56091,14%,1303,7016,405704
19,VA,8535519,2020-08-03,1.096200,20200803,2218.0,1324,15082,0,85,1.023291,7034,6%,136,2218,115897
20,WA,7614893,2020-08-03,1.091667,20200803,1596.0,632,6752,4,25,1.012360,5538,6%,95,57,88933
21,WI,5822434,2020-08-03,0.918711,20200803,956.0,411,7180,1,26,0.985503,6120,7%,56,1596,93650